:root {
  --color-primary: #060024;
  --color-red: #f43b45;
  --color-green: #6a9958;
  --color-blue-dark: #1f4068;
  --color-blue-light: #3282b8;
  --color-blue-light-hover: #276fa0;
  --color-black: #181623;
  --color-dark-blue: #0c1928;
}
