{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      rel="shortcut icon"
      href="{%static 'img/bug.svg' %}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{%static 'css/colors.css'%}" />
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    {%block css%}{%endblock%}

    <title>{%block title%}{%endblock%}</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <ul class="sidenav cyan darken-4" id="mobile-links">
      <li>
        <a href="#" class="brand-logo white-text"><span>Bug Binder</span></a>
      </li>
      <li>
        <a href="#" class="white-text">
          <span>Login</span
          ><i class="material-icons left white-text">account_box</i>
        </a>
      </li>
      <li>
        <a href="#" class="white-text"
          ><i class="material-icons left white-text">local_hospital</i
          ><span>Sign up</span></a
        >
      </li>
    </ul>

    <div class="main">
      <div class="left">
        <div class="top-box">
          <img src="{%static 'img/bug.svg' %}" />
          <h1>Bug Binder</h1>
        </div>
        <ul class="menu">
          <a href="#"
            ><li>
              <i class="material-icons">account_circle</i>Asif Shahriar
            </li></a
          >
          <a href="#"
            ><li><i class="material-icons">dashboard</i>Dashboard</li></a
          >
          <a href="#"
            ><li><i class="material-icons">details</i>Tasks</li></a
          >
          <a href="#"
            ><li><i class="material-icons">exit_to_app</i>Logout</li></a
          >
        </ul>
      </div>
      <div class="right">{%block body%}{%endblock%}</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems);
      });
    </script>
    {%block script%}{%endblock%}
  </body>
</html>
