<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    {%block css%}{%endblock%}

    <title>{%block title%}{%endblock%}</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <ul class="sidenav cyan darken-4" id="mobile-links">
      <li>
        <a href="#" class="brand-logo white-text"><span>Bug Binder</span></a>
      </li>
      <li>
        <a href="#" class="white-text">
          <span>Login</span
          ><i class="material-icons left white-text">account_box</i>
        </a>
      </li>
      <li>
        <a href="#" class="white-text"
          ><i class="material-icons left white-text">local_hospital</i
          ><span>Sign up</span></a
        >
      </li>
    </ul>

    {% block body%}{%endblock%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems);
      });
    </script>
    {%block script%}{%endblock%}
  </body>
</html>
