{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link rel="shortcut icon" href="{%static 'img/bug.svg' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet"> 
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/home.css'%}" />
    <title>Bug Binder</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
   
    <style>
      body{
        background-color: var(--color-primary);
  background-image: linear-gradient(to bottom right, rgba(22, 22, 22, 0.329) , rgba(3, 3, 48, 0.322)) ,url({% static 'img/bg.jpg'%}) ;
}
    </style>
    <nav>
      <div class="nav-wrapper primary-color ">
        <div class="container">
          <a href="#" class="brand-logo"><div style="display: flex;align-items: center;"><img  width="35px"src="{%static 'img/bug.svg' %}"><span id="nav-title" class="text-red">Bug Binder</span></div></a>
          <a class="sidenav-trigger" href="#" data-target="mobile-links"
            ><i class="material-icons left">menu</i></a
          >
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="#modal1" class="modal-trigger">
                <span>Login</span><i class="material-icons left">account_box</i>
              </a>
            </li>
            <li>
              <a href="#modal2" class="modal-trigger text-green"
                ><i class="material-icons left">local_hospital</i
                ><span>Sign up</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <ul class="sidenav primary-color" id="mobile-links">
      <li>
        <a href="#" class="brand-logo white-text"><span>Bug Binder</span></a>
        <div id="nav-close"><a class="sidenav-close" href="#!"><i class="material-icons text-red">close</i></a></div>
      </li>
      <li>
        <a href="#modal1" class="modal-trigger text-green">
          <span>Login</span
          ><i class="material-icons left text-green">account_box</i>
        </a>
      </li>
      <li>
        <a href="#modal2" class="modal-trigger text-green"
          ><i class="material-icons left text-green">local_hospital</i
          ><span>Sign up</span></a
        >
      </li>
    </ul>



    <div class="main">
      <div class="box-title">
        
        <h1>Bug Binder</h1>
        <img src="{%static 'img/bug.svg' %}">
      </div>
        <h5>A bug tracking & ticketing system</h5>
        </div>



    <!-- Modal Structure -->
    <div id="modal1" class="modal primary-color ">
      <div class="modal-content" style="overflow: hidden;">
        <div class="modal-close"><i class="material-icons text-red">close</i></div>
        <div
          style="display: flex; justify-content: center; align-content: center;"
        >
          <i class="material-icons left text-green">account_box</i>
          <h5 class="text-green" style="margin: 0;">
            Login
          </h5>
        </div>

        <div class="row" >
          <div class="col s12 l10 offset-l1">
            <div class="input-field white-text">
              <i class="material-icons prefix text-green">mail</i>
              <input id="email" type="text" class="validate white-text" />
              <label for="email" class="text-green">Email Address</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 l10 offset-l1">
            <div class="input-field">
              <i class="material-icons prefix text-green">lock</i>
              <input id="password" type="password" class="validate white-text" />
              <label for="password" class="text-green">Password</label>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="display: flex; justify-content: center; align-items: center;"
        >
          <a
            class="ceneter text-green"
            style="cursor: pointer; margin-right: 1rem;"
            >Forget Password?</a
          >
          <a class="waves-effect waves-light btn">Login</a>
        </div>
      </div>
    
    </div>

    <!-- Modal Structure -->
    <div id="modal2" class="modal primary-color">
      <div class="modal-content" style="overflow: hidden;">
        <div class="modal-close"><i class="material-icons text-red">close</i></div>
        <div
          style="display: flex; justify-content: center; align-content: center;"
        >
          <i class="material-icons left text-green">local_hospital</i>
          <h5 class="text-green" style="margin: 0;">
            Sign up
          </h5>
         
        </div>
        <div class="row" >
          <div class="col s12 l10 offset-l1">
            <div class="input-field">
              <i class="material-icons prefix text-green">account_box</i>
              <input id="name" type="text" class="validate text-green" />
              <label for="name" class="text-green">Full Name</label>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col s12 l10 offset-l1">
            <div class="input-field">
              <i class="material-icons prefix text-green">mail</i>
              <input id="sign-email" type="text" class="validate text-green" />
              <label for="sign-email" class="text-green">Email Address</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 l10 offset-l1">
            <div class="input-field">
              <i class="material-icons prefix text-green">lock</i>
              <input id="sign-password" type="password" class="validate text-green" />
              <label for="sign-password" class="text-green">Password</label>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="display: flex; justify-content: center; margin-bottom:0;"
        >
          <a class="waves-effect waves-light btn">Sign up</a>
        </div>
      </div>
 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
   
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems);
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems);
      });
    </script>
  </body>
</html>
