{%extends 'base.html'%}{% load static %} {%block title%}Bug Binder |
Dashboard{%endblock%} {%block css%}

<link rel="stylesheet" href="{% static 'css/bug-issue.css'%}" />
<link rel="stylesheet" href="{% static 'css/project.css'%}" />
{%endblock%}

<!--  -->
{%block body%}
<div class="div-container">
  <input type="hidden" value="{{project.id}}" id="project-id">
  <div class="left-section">
    <div class="box bug">
      <div class="box-head">
        <h5 id="project-title">{{project.title}}</h5>
        {%if request.user == project.owner%}
        <a href="#edit-project-modal" class="modal-trigger white-text">
          <h5 id="edit-project">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </h5>
        </a>
        {%endif%}
      </div>
      <div class="box-body fields">
        <div class="items">
          <span class="mred">bugs</span>
          <h5 class="mred" id="bugs-c">{{project.bugs}}</h5>
        </div>
        <div class="items myellow">
          <span class="myellow">Assigned</span>
          <h5 class="myellow" id="assigned-c">{{project.assigned}}</h5>
        </div>
        <div class="items">
          <span class="mgreen">Fixed</span>
          <h5 class="mgreen" id="fixed-c">{{project.fixed}}</h5>
        </div>
        <div class="items">
          <canvas id="myChart"></canvas>
        </div>
        <div class="items">
          <div class="mobile-dev-list">
            <a href="#dev-list-modal" class="modal-trigger white-text"
              >Open Dev List</a
            >
          </div>
        </div>
      </div>
    </div>

    {% for task in project.task.all %}
    <!-- post -->
    <div class="box bug post" id="post-{{task.id}}">
      <div class="box-head">
        <h5>{{task.date}}</h5>
        {%if request.user == project.owner%}
        <h5 id="edit-project" class="delete-btn" data-id="{{task.id}}">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </h5>
        {%endif%}
      </div>
      <div class="box-body">
        <h6>{{task.title}}</h6>

        <p><b>Steps to reproduce: </b><br />{{task.reproduce}}</p>
        <p><b>Environment: </b><br />{{task.environment}}</p>

        <p><b>Submitted By: </b>{{task.email}}</p>
        <p><b>Comment: </b><br />{{task.comment}}</p>
        {%if task.assigned%}
        <p>
          <i
            class="fa fa-code"
            aria-hidden="true"
            style="margin-right: 0.5rem"
          ></i>
          Assigned to
          <a
            target="_blank"
            href="{% url 'view_profile' task.dev %}"
            class="white-text"
          >
            <b>{{task.dev}}</b></a
          >
        </p>
        {%else%}
        <div class="row" style="margin: 0 0 1rem 0" id="div-{{task.id}}">
          <div class="input-field col l6">
            <select class="icons" id="select-{{task.id}}">
              <option value="" disabled selected>Assigne To Dev</option>
              {%if request.user == project.owner%}
              <!--  -->
              {% for dev in project.dev.all %}
              <option value="{{dev.username}}">{{dev.username}}</option>
              {%endfor%} {%else%}
              <option value="{{request.user}}">{{request.user}}</option>
              {%endif%}
            </select>
          </div>
          <div id="assign-dev" data-id="{{task.id}}" class="assign-btn">
            <i class="fa fa-check mgreen" aria-hidden="true"></i>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
    {%endfor%}
  </div>

  <div class="box dev-wraper">
    <div class="box-head">
      <h5>Devs</h5>
      {%if request.user == project.owner%}
      <a href="#add-dev-modal" class="modal-trigger white-text">
        <h5 id="add-dev">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </h5>
      </a>
      {%endif%}
    </div>
    <div class="box-body dev-items" id="d-dev-add-root">
      {% for dev in project.dev.all %}
      
      <div class="dev-item" id="d-dev-item-{{dev.id}}">
        <a href="{%url 'view_profile' dev.username %}" target="_blank" >
          <i
            class="fa fa-code"
            aria-hidden="true"
          ></i>
          <span id="dev-username-d{{dev.id}}">{{dev.username}}</span>
          
        </a>
        {%if request.user == project.owner%}
        {% if dev.id != request.user.id %}
        <i
          class="fa fa-trash delete-dev"
          data-did="{{dev.id}}"
          aria-hidden="true"
          style="margin-left: 0.8rem"
          
        ></i
        >{%endif%}
        {%endif%}
      </div>
     
      {%endfor%}
    </div>
  </div>
</div>

<!-- mobile dev list -->
<div id="dev-list-modal" class="modal modal-background">
  <div class="modal-content" style="overflow: hidden">
    <div style="display: flex; justify-content: space-between">
      <div><h5>Dev list</h5></div>
      {%if request.user == project.owner%}
      <div>
        <a href="#add-dev-modal" class="modal-trigger white-text">
          <h5 id="add-dev">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </h5>
        </a>
      </div>
      {%endif%}
    </div>

    <div class="dev-items" id="m-dev-add-root" style="max-height: 100%; overflow-y: visible">
      {% for dev in project.dev.all %}
      <div class="dev-item" id="m-dev-item-{{dev.id}}">
        <a href="{%url 'view_profile' dev.username %}" target="_blank" >
          <i
            class="fa fa-code"
            aria-hidden="true"
          ></i>
          <span id="dev-username-m{{dev.id}}">{{dev.username}}</span>
          
        </a>
        {%if request.user == project.owner%}
        {% if dev.id != request.user.id %}
        <i
          class="fa fa-trash delete-dev"
          data-did="{{dev.id}}"
          aria-hidden="true"
          style="margin-left: 0.8rem"
          
        ></i
        >{%endif%}
        {%endif%}
      </div>
      {%endfor%}
    </div>
    <div
      class="row"
      style="
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 1rem;
      "
    >
      <a class="waves-effect waves-light btn red modal-close">Cancel</a>
    </div>
  </div>
</div>
<!-- mobile dev list -->

<!-- Edit Project -->
<div id="edit-project-modal" class="modal modal-background">
  <div class="modal-content" style="overflow: hidden">
    <div class="row">
      <div class="col s12 l12 error"><h5>Edit Project</h5></div>
    </div>
    <form method="POST">
      {%csrf_token%}
      <div class="row">
        <div class="col s12 l12">
          <div class="input-field">
            <i class="material-icons prefix white-text">assignment</i>
            <input
              id="title"
              type="text"
              name="title"
              class="validate white-text"
              value="{%if project.title%}{{project.title}}{%endif%}"
              required
            />
            <label for="title" class="white-text">Project Name</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix white-text">chat</i>
          <textarea
            name="description"
            class="materialize-textarea"
            id="description"
            required
          >{%if project.description%}{{project.description}}{%endif%}</textarea>
          <label for="description" class="white-text">Description</label>
        </div>
      </div>

      <div
        class="row"
        style="display: flex; justify-content: flex-end; margin-bottom: 0"
      >
        <a class="waves-effect waves-light btn blue modal-close" id="cancel-modal-edit">Cancel</a>
        <a
          class="waves-effect waves-light btn red"
          style="margin-left: 1rem"
          id="delete-project"
          >Delecte</a
        >
        <a
          class="waves-effect waves-light btn green"
          style="margin-left: 1rem"
          id="edit-project-save"
        >
          Save
        </a>
      </div>
    </form>
  </div>
</div>
<!-- Edit Project -->

<!-- add devs -->
<div id="add-dev-modal" class="modal modal-background">
  <div class="modal-content" style="overflow: hidden">
    <div class="row">
      <div class="col s12 l12 error"><h5>Add Devs</h5></div>
    </div>
    <div class="row">
      <div class="col s12 l12">
        <div class="input-field">
          <i class="material-icons prefix white-text">mail</i>
          <input id="dev-email" type="text" class="validate white-text" />
          <label for="dev-email" class="white-text">Email or Username</label>
        </div>
      </div>
    </div>
    <div class="row" id="dev-preview" style="display: none;">
      <div class="col s12">
        <div class="dev-preview">
          <input type="hidden" id="username">
          <img id="dev-img" src="" /> <span id="dev-name"></span>
          <i class="fa fa-check" aria-hidden="true" id="save-dev"></i>
        </div>
      </div>
    </div>

    <div
      class="row"
      style="display: flex; justify-content: flex-end; margin-bottom: 0"
    >
      <a id="cancel-modal-dev-add" class="waves-effect waves-light btn red modal-close">Cancel</a>
      <a class="waves-effect waves-light btn green" style="margin-left: 1rem" id="search-dev"
        >Search</a
      >
    </div>
  </div>
</div>
<!-- add devs -->

{%endblock%} {%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart").getContext("2d");
  bugs = parseInt(document.getElementById("bugs-c").textContent);
  assigned = parseInt(document.getElementById("assigned-c").textContent);
  fixed = parseInt(document.getElementById("fixed-c").textContent);
  if (bugs == 0 && assigned == 0 && fixed == 0) fixed = 100;
  var myChart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: ["Bugs", "Assigned", "Fixed"],
      datasets: [
        {
          data: [bugs, assigned, fixed],
          backgroundColor: ["#c70039", "#f5b041", "#2ecc71"],
          borderWidth: 1,
        },
      ],
    },
    options: {
      legend: { display: false },
      responsive: false,
    },
  });
</script>
<script src="{%static 'js/project.js'%}"></script>
{%endblock%}
